body{

background:#0d0d0d;

color:white;

font-family:Arial;

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.contenedor{

width:350px;

text-align:center;

}

.logo{

width:180px;

margin-bottom:25px;

}
